# Compose Project
COMPOSE_PROJECT_NAME=inception

# Domain Configuration
DOMAIN_NAME=alnassar.42.fr

# Host Persistent Storage Paths
HOST_DB_PATH=/home/alnassar/data/db
HOST_WP_PATH=/home/alnassar/data/wp

# MariaDB Configuration
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_HOST=mariadb

# WordPress Configuration
WP_URL=https://alnassar.42.fr
WP_TITLE=Inception alnassar
WP_ADMIN_USER=alnassar_master
WP_ADMIN_EMAIL=alnassar_master@student.42.fr
WP_USER=alnassar_user
WP_USER_EMAIL=alnassar_user@student.42.fr
WP_USER_ROLE=author

# Docker Secrets Paths inside Containers
DB_PASSWORD_FILE=/run/secrets/db_password
DB_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
WP_ADMIN_PASSWORD_FILE=/run/secrets/wp_admin_password
WP_USER_PASSWORD_FILE=/run/secrets/wp_user_password
